:root {
    --primary: #3e1e03;
    --secondary: #60695c;
    --tertiary: #e1ddd3;
}

html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    line-height: 1.7rem;
}

section {
    margin-bottom: 3rem;
}

section:last-child {
    margin-bottom: 0;
}

h1,
h2,
h3 {
    font-weight: 700;
    color: var(--primary);
}

h1 {
    font-family: "Playfair Display", serif;
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
    margin: 2rem 0;
    align-self: start;
}

h3 {
    font-family: "Playfair Display", serif;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

p {
    margin-bottom: 1.5rem;
    text-align: justify;
}

ul {
    list-style: none;
    padding: 0;
}

em {
    color: var(--secondary);
    font-weight: 600;
    font-style: italic;
}

/* Common CSS*/
.btn {
    background-color: var(--tertiary);
    border: 1px solid var(--secondary);
    border-radius: 5px;
    color: var(--secondary);
    font-weight: 500;
    text-transform: uppercase;
    padding: 0.6em;
    transition: all 0.3s;
}

.btn:hover {
    color: var(--tertiary);
    background-color: var(--primary);
}

.container {
    margin: 2rem auto 3.5rem;
    padding: 0 2rem;
    max-width: 1000px;
}

footer {
    color: #fff;
    background-color: var(--secondary);
    padding: 1.25rem;
}

footer p {
    margin: 0;
    text-align: center;
}

/* Header */
.header {
    padding: 0.6rem 1.25rem;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__brand {
    display: flex;
    align-items: center;
}

.header__brand__logo {
    width: 20%;
}

.header__menu--desktop {
    display: none;
}

.btn--mobile-menu {
    display: flex;
    border: none;
    padding: 0;
    background-color: transparent;
}

.btn--mobile-menu img {
    transition: transform 0.3s;
    width: 2.2rem;
}

.btn--mobile-menu:hover img {
    transform: rotate(90deg);
}

.nav__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 2rem;
}

.header__menu--mobile .nav__list {
    flex-direction: column;
    row-gap: 1.5rem;
}

.nav__link {
    color: var(--primary);
    font-size: 1.2rem;
    font-weight: 700;
    padding-bottom: 0.7em;
}

.header__menu--desktop .nav__link:hover,
.active {
    border-bottom: 1px solid var(--primary);
}

/* Section Hero */
.hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__img img {
    width: 100%;
    display: block;
}

/* Sections Nouveauté (news - homepage) et Catalogue*/
.articles__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding: 1.25rem;
    border: 1px solid var(--primary);
}

.card__text {
    padding: 0 2rem;
}

/* Section banner (pages catalogue & product) */
.banner__container {
    position: relative;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner__container::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../images/catalogue-banner.png) no-repeat center;
    background-size: cover;
    opacity: 0.5;
    z-index: -1;
}

.banner__title {
    position: relative;
    z-index: 1;
    color: var(--secondary);
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 2rem;
    align-self: auto; /* Annuler le align-self : flex-start sur les h2*/
}

/* Page catalogue */
.section__catalogue {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3rem;
    margin-top: 3.5rem;
}

.btn--show-more {
    text-align: center;
}

/* Page produit */
.section__banner--product .banner__container::after {
    background-image: url(../images/product-banner.png);
}

.banner__title {
    color: var(--secondary);
}

.product__publication-date {
    text-align: right;
    color: #a09d9d;
    font-weight: 500;
    font-style: italic;
    font-size: 0.9rem;
}

.product__title {
    margin-bottom: 0.2rem;
}

.product__origin {
    font-style: italic;
}

.product__description {
    margin: 0.5rem 0;
}

.product__availability {
    text-align: right;
}

.available {
    color: green;
}

.not-available {
    color: red;
}

/* Page boutique (store) */
.section__banner--store .banner__container::after {
    background-image: url(../images/store-banner.jpg);
}

@media (min-width: 992px) {
    h2 {
        align-self: auto;
    }

    .btn--mobile-menu,
    .header__menu--mobile {
        display: none;
    }

    .header__menu--desktop {
        display: block;
    }

    .section__hero {
        display: flex;
        column-gap: 2rem;
        align-items: center;
    }

    .hero__content {
        width: calc(50% - 2rem / 2); /* 2rem = column-gap de section__hero */
        flex: none;
        padding: 0 2rem;
    }

    .hero__img {
        order: 2;
    }

    .articles__list {
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;
        column-gap: 2rem;
    }

    .card {
        width: calc(
            100% / 3 - (2rem * 2 / 3)
        ); /*2rem = column-gap de articles__list */
    }
}

/* JS */
.hidden {
    display: none;
}
