:root {
    --primary: #3e1e03;
    --secondary: #60695c;
    --tertiary: #e1ddd3;
    --border: rgba(96, 105, 92, 0.5);
}

html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    line-height: 1.7rem;
}

h1,
h2,
h3 {
    font-weight: 700;
    color: var(--primary);
}

h1 {
    font-size: 2.5rem;
    line-height: 2.8rem;
    margin: 2rem 0;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    margin: 2rem 0;
    align-self: start;
}

h3 {
    font-family: "Playfair Display", serif;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

p {
    margin-bottom: 2rem;
    text-align: justify;
    word-break: break-word;
}

ul {
    list-style: none;
    padding: 0;
}

em {
    color: var(--secondary);
    font-weight: 600;
    font-style: italic;
}

input,
select {
    padding: 0.6rem;
    border: 1px solid var(--secondary);
    border-radius: 5px;
    font-size: 1rem;
}

input:focus {
    outline: auto;
}

.btn {
    background-color: var(--primary);
    border-radius: 5px;
    color: var(--tertiary);
    font-weight: 500;
    text-transform: uppercase;
    padding: 0.8em 1em;
    transition: all 0.3s;
    outline: auto;
}

.btn:hover,
.btn:focus {
    background-color: var(--secondary);
}

.btn:focus {
    outline: 2px solid var(--border);
}

.container {
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 1200px;
}

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 2rem;
    max-width: 1200px;
}

.header__brand {
    display: flex;
    align-items: center;
    font-family: "Manrope", sans-serif;
    font-size: 2.25rem;
    font-weight: 800;
    color: var(--primary);
    letter-spacing: 5px;
}

.header__brand__logo {
    width: 20%;
}

.header nav {
    display: none;
    padding-bottom: 0.5rem;
}

.header nav.expanded {
    display: block;
    position: absolute;
    bottom: calc(-50% + 2rem);
    left: 0;
    right: 0;
    transform: translateY(50%);
}

#burger-btn {
    display: flex;
    border: none;
    padding: 0;
    background-color: transparent;
}

#burger-btn img {
    transition: transform 0.3s;
    width: 2.2rem;
}

#burger-btn:hover img {
    transform: scale(1.1);
}

.nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 1.5rem;
    column-gap: 2rem;
}

.nav__link {
    color: var(--primary);
    font-size: 1.2rem;
    font-weight: 700;
    padding-bottom: 0.7em;
}

main {
    margin: 0 0 3.5rem;
}

section {
    margin-bottom: 3rem;
}

section:last-child {
    margin-bottom: 0;
}

/* Articles*/
.articles__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 2rem;
    width: 100%;
}

.card {
    border: 1px solid var(--border);
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(190px + 2.5rem + 30px);
    transition: box-shadow 0.3s, transform 0.3s;
    width: 100%;
    position: relative;
}

.card:hover,
.card:focus-within {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    transform: scale(1.05);
}

.card__title {
    margin-bottom: 1rem;
    z-index: 2;
    width: max-content;
}

.card__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 1 0 auto;
    padding: 1.5rem 1rem;
    transition: transform 0.5s;

    z-index: 1;
    background-color: #fff;
    width: 100%;
    transform: translateY(0);
}

.card__img {
    width: 100%;
    height: 190px;
}

.card__img img {
    width: 100%;
    height: 190px;
    object-fit: cover;
    object-position: center;
}

/* Classe .up gérée en JS */
.card:hover .card__content:not(.up),
.card__link:focus ~ .card__content {
    transform: translateY(-50%);
}

.card__info {
    flex-grow: 1;
    font-style: italic;
    margin-bottom: 1rem;
    text-align: start;
}

/* Toute la carte est cliquable */
.card__link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

/* Banner */
.banner__container {
    position: relative;
    height: 350px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Ajoute l'image en bg avec opacité sans que l'opacité n'impacte aussi le titre */
.banner__container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../images/catalogue-banner.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1; /* bg-image en-dessous de l'image et du titre */
}

.banner__container::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(51 25 7 / 36%);
    z-index: 1; /* Filtre au-dessus de l'image mais en-dessous du titre */
}

.banner__title {
    position: relative;
    z-index: 2;
    color: var(--tertiary);
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 2rem;
    align-self: auto; /* Annuler le align-self : flex-start sur les h2*/
}

footer {
    color: #fff;
    background-color: var(--secondary);
    padding: 1.25rem;
}

footer p {
    margin: 0;
    text-align: center;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.error__message {
    color: red;
}

@media (min-width: 650px) {
    .card {
        width: 60%;
    }
}

@media (min-width: 992px) {
    h2 {
        align-self: auto;
    }

    .nav__link:hover,
    .nav__link[aria-current="true"] {
        border-bottom: 1px solid var(--primary);
    }

    #burger-btn {
        display: none;
    }

    .header nav {
        display: block;
    }

    .nav__list {
        flex-direction: row;
    }

    .articles__list {
        flex-direction: row;
        align-items: stretch;
        column-gap: 2rem;
    }

    .card {
        width: calc(100% / 3 - (2rem * 2 / 3)); /*2rem = column-gap de articles__list */
    }
}

/* JS */
.hidden {
    display: none;
}
