.hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__img img {
    width: 100%;
    display: block;
}

@media (min-width: 992px) {
    .section__hero {
        display: flex;
        column-gap: 2rem;
        align-items: center;
    }

    .hero__content {
        width: calc(50% - 2rem / 2); /* 2rem = column-gap de section__hero */
        flex: none;
        padding: 0 2rem;
    }

    .hero__img {
        order: 2;
    }
}
