.section__banner--product .banner__container::before {
    background-image: url(../images/product-banner.webp);
}

.container {
    max-width: 1000px;
}

.section__product {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.product__img {
    margin: 0 auto;
}

.product__img img {
    display: block;
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 10px;
}

.product__publication-date {
    color: #a09d9d;
    font-weight: 500;
    font-style: italic;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.product__title {
    margin-bottom: 0.2rem;
}

.product__reference {
    color: #a09d9d;
    font-weight: 500;
    font-style: italic;
    font-size: 0.9rem;
}

.product__origin {
    font-style: italic;
}

.product__description {
    width: 85%;
}

.product__description,
.product__feature {
    margin: 0.5rem 0;
}

.product__availability {
    text-align: end;
}

.available {
    color: green;
}

.not-available {
    color: red;
}

.btn {
    display: block;
    width: fit-content;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .section__product {
        flex-direction: row;
        align-items: stretch;
        justify-content: space-evenly;
    }

    .product__infos {
        flex: 1;
        display: grid;
        grid-template: max-content 1fr / 1fr;
    }

    .product__availability {
        align-self: flex-end;
        line-height: 1;
        text-align: start;
    }

    .product__img {
        width: 40%;
    }
}
