.section__banner--product .banner__container::before {
    background-image: url(../images/product-banner.png);
}

.product__publication-date {
    text-align: right;
    color: #a09d9d;
    font-weight: 500;
    font-style: italic;
    font-size: 0.9rem;
}

.product__title {
    margin-bottom: 0.2rem;
}

.product__origin {
    font-style: italic;
}

.product__description {
    margin: 0.5rem 0;
}

.product__availability {
    text-align: right;
}

.available {
    color: green;
}

.not-available {
    color: red;
}
