<%- include('./partials/admin-header', { title : "Ajouter une catégorie - oCoffee"}) %>

<main class="main--add-category">
    <a class="btn btn--logout" href="/admin/logout">Déconnexion</a>
    <h1>Ajouter une catégorie </h1>
    <form class="form-add-category" action="/admin/category/add" method="GET">
        <% if (locals.error) { %>
            <span class="error__message"><%= error %></span>
        <% } %>

        <div class="form__group">
            <label for="main_feauture">Nom de la catégorie :</label>
            <input type="text" name="main_feature" id="main_feauture" required>
        </div>
        <button class="btn" type="submit">Ajouter</button>
    </form>
    
</main>


<%- include('./partials/admin-footer') %>