<%- include('./partials/admin-header', { title : "Ajouter une catégorie - Admin/oCoffee"}) %>

    <h1>Ajouter une catégorie </h1>
    <form class="form-add-category" action="/admin/categories/add" method="POST">
        <% if (locals.error) { %>
            <span class="error__message"><%= error %></span>
        <% } %>

        <div class="form__group">
            <label for="category">Nom de la catégorie :</label>
            <input type="text" name="category" id="category" required>
        </div>
        <button class="btn" type="submit">Ajouter</button>
    </form>
    
</main>


<%- include('./partials/admin-footer') %>