<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Connexion - oCoffee</title>

    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">


    <!-- Common CSS Style -->
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/base.css" />

    <!-- Style -->
    <link rel="stylesheet" href="/css/admin.css" />
</head>
<body class="body--login">
        <h1>Connexion</h1>
        <form class="form-login" action="/admin/login" method="POST">
            <% if (locals.error) { %>
                <span class="error__message"><%= error %></span>
            <% } %>
    
            <div class="form__group">
                <label for="username">Nom d'utilisateur :</label>
                <input type="text" name="username" id="username">
            </div>
            <div class="form__group">
                <label for="password">Mot de passe : </label>
                <input type="password" name="password" id="password">
            </div>
            <button class="btn" type="submit">Se connecter</button>
        </form>
    
</body>
</html>