<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Connexion - oCoffee</title>

    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">


    <!-- Common CSS Style -->
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/common.css" />

    <!-- Style -->
    <link rel="stylesheet" href="/css/login.css" />
</head>

<body>
  <header class="header">
    <a class="header__brand" href="/" title="Page d'accueil">
        <img class="header__brand__logo" src="/images/logo.svg" alt="Logo de oCoffee" />
        O'COFFEE
    </a>
    <a href="/" class="nav__link">Retour au site de la boutique</a>
  </header>
  <main>
    <h1>Connexion</h1>
    <form class="form-login" action="/admin/login" method="POST">
        <% if (locals.error) { %>
            <span class="error__message"><%= error %></span>
        <% } %>
  
        <div class="form__group">
            <label for="username">Nom d'utilisateur :</label>
            <input type="text" name="username" id="username">
        </div>
        <div class="form__group">
            <label for="password">Mot de passe : </label>
            <input type="password" name="password" id="password">
        </div>
        <button class="btn" type="submit">Se connecter</button>
    </form>
  </main>
    
</body>
</html>