<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta name="description" content="La boutique de café haut de gamme des frères Pepper, une référence pour les amateurs de café de la région de la ville de Hauts-de-Cloques. Un espace chaleureux et accueillant ou ont été sélectionné avec soin les meilleurs grains de café issus de plantations durables et équitables.">
        <title>
            <% if (locals.title) { %>
                <%= title %>
            <% } else { %>
                oCoffee - boutique de café haut de gamme
            <% } %>
                 
        </title>

        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">        
        
        <!-- Common CSS Style -->
        <link rel="stylesheet" href="/css/reset.css" />
        <link rel="stylesheet" href="/css/common.css" />
        <link rel="stylesheet" href="/css/componants.css" />

        <!-- Style -->
        <link rel="stylesheet" href="/css/<%= page %>.css" />

        <script src="/js/app.js" defer></script>
    </head>
    <body>
        <header class="header">
            <a class="header__brand" href="/" title="Page d'accueil">
                <img class="header__brand__logo" src="/images/logo.svg" alt="Logo de oCoffee" />
                O'COFFEE
            </a>
            <button id="burger-btn" type="button" aria-label="Ouvrir ou fermer le menu de navigation" aria-expanded="false" aria-controls="header-nav">
                <img src="/images/burger-menu.svg" alt="">
            </button>
            <nav id="header-nav">
                <ul class="nav__list">
                    <li class="nav__list__item">
                        <a class="nav__link" href="/" title="Page d'accueil" <% if (page === 'index') { %> aria-current="true" <% } %> >Accueil</a>
                    </li>
                    <li class="nav__list__item">
                        <a class="nav__link" href="/catalog" title="Le catalogue de nos produits" <% if (page === 'catalog') { %> aria-current="true" <% } %> >Catalogue</a>
                    </li>
                    <li class="nav__list__item">
                        <a class="nav__link" href="/store" title="La boutique" <% if (page === 'store') { %> aria-current="true" <% } %> >Boutique</a>
                    </li>
                    <% if (locals.isAdminConnected) { %>
                        <li class="nav__list__item">
                            <a class="nav__link" href="/admin" title="Page admin">Admin</a>
                        </li>
                    <% } %>
                </ul>
            </nav>
        </header>
