<%- include('./partials/header', { page : "error"}) %>

    <main>
        <div class="container">
            <h2 class="error__title">Erreur <%= error.status %></h2>
            <p><%= error.error %></p>
            <div class="error__img">
                <img src="/images/error.jpg" alt="">
            </div>
        </div>

    </main>


<%- include('./partials/footer') %>