<%- include('./partials/header') %>

<div class="container">
    <main>
        <h2 class="error__title">Erreur <%= status %></h2>
        <p><%= error %></p>
        <div class="error__img">
            <img src="/images/error.jpg" alt="">
        </div>

    </main>

</div>

<%- include('./partials/footer') %>