<%- include('./partials/header', { page : "store", title : "La boutique - oCoffee"}) %>

    <main>
        <section class="section__banner section__banner--store">
            <div class="banner__container">
                <h2 class="banner__title">La boutique</h2>
            </div>
        </section>

        <div class="container">

            <section class="section__ambience">
                <h2>Ambiance de la boutique</h2>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio vitae tempora consequatur odit, temporibus perspiciatis commodi incidunt rem quam sequi amet corrupti voluptatem fuga dicta! Placeat repellat rem nulla debitis.
                </p>
                <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis tenetur eligendi doloremque at dolor. Reiciendis illum eaque voluptates veritatis nemo magni exercitationem ab, ad officia? Suscipit maiores earum repellendus. Soluta?
                  Cumque, doloremque aperiam! Saepe perferendis dolore dolor assumenda neque cum quae eveniet doloremque, reprehenderit omnis qui inventore alias debitis harum vitae fuga voluptatibus quas repellat, eligendi delectus aliquid ipsum maxime.                </p>
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga repellat autem dolore molestias accusantium doloremque amet dolor laboriosam? Et delectus numquam eius ipsam ullam nostrum cumque incidunt eum, suscipit enim.
                </p>
            </section>

            <section class="section__kwon-how">
                <h2>Notre savoir faire</h2>
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo repellendus delectus rerum omnis? Tenetur, neque. Ipsa quos eius laudantium! Deleniti provident nisi voluptas labore necessitatibus ipsam illum aliquid rerum libero.
                  Assumenda asperiores repellat voluptatibus similique hic voluptatum aliquam esse suscipit? Harum repellendus quaerat eveniet pariatur, vitae aliquid consequatur animi magni eaque doloremque et porro ipsam, in, possimus aut consequuntur sed.
                </p>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium ullam corporis dicta harum nam omnis, enim, ratione assumenda id nemo laboriosam est sint nihil neque, asperiores rem accusamus provident nobis.
                  Necessitatibus vitae itaque fugit recusandae dicta at debitis, cumque numquam reiciendis quaerat a vel dolore iure ratione deserunt rerum. Totam maxime odit optio. Adipisci deserunt soluta facere quod libero ex.
                  Dolores alias reiciendis similique velit cupiditate accusamus odio minus quasi enim soluta porro, itaque quaerat harum magnam sit! Rerum in repellat minima pariatur excepturi. Dolorum ipsam commodi in suscipit amet.
                </p>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos, velit earum. Ducimus, odit quidem voluptatem eius fugiat ea nesciunt excepturi vitae nisi beatae nostrum blanditiis autem quod dolor animi tenetur?
                </p>
            </section>

            <section>
                <h2>Trouver notre boutique</h2>
                <address class="store__address">
                    <span>
                        1, rue du Café
                    </span>
                    <span>
                        00000 Hauts-de-Cloques
                    </span>
                    <span>
                        France
                    </span>
                </address>
                <div class="store__map">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14863876.880225882!2d-34.39705713939598!3d64.31438848276443!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2smu!4v1728046682285!5m2!1sfr!2smu" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </section>
        </div>

    </main>




<%- include('./partials/footer') %>